<%layout('layouts/boilerplate')-%>

<nav>
    <div class="row my-4">
      <div class="col-lg-3 my-4 mx-3">
        <h2 class="multicolortext">DoubtAway..</h2>
      </div>
      <div class="col-lg-6 my-4 mx-4 community" style="width: 35%;">
        <span><a href="/problem">Problem</a></span>
        <span><a href="/problem/<%=prblm._id%>/answer">Discription</a></span>
        <span><a href="/problem/<%=prblm._id%>/discuss">Discuss</a></span>
        <span><a href="/profile">Profile</a></span>
      </div>
      <div class="col-lg-2 my-4 login" style="margin-left: 150px;">
        <%if(!currentUser){%>
          <span><a href="/login">Login</a></span>
       <%}else{%>
        <span><a href="/logout">Logout</a></span>
       <%}%>
      </div>
    </div>
  </nav>

<section>
    <div>
        <div class="container-fluid">
            <%for(let dis of prblm.discuss){%>
            <div class="discuss-head">
                <div>
                  <div class="card" style="background-color: rgb(238, 202, 159);">
                    <div class="card-body">
                      <blockquote class="blockquote mb-0">
                        <p><a style="text-decoration: none; color: rgb(32, 30, 30);" href="/problem/<%=prblm._id%>/discuss/<%=dis._id%>">
                          <h3><%=dis.description%></h3>
                          </a>
                      </p>
                        <footer class="blockquote-footer"> <div>
                          <%if(dis.createdAt){%>
                              <p style="color: rgb(99, 86, 86);">Created at: <%=dis.createdAt.toDateString()%></p>
                          <%}%>
                      </div>
                    </footer>
                      </blockquote>
                    </div>
                  </div>
                    
                </div>
                   
            </div>
            <%}%>
        </div>
    </div>
</section>