<%layout('layouts/boilerplate')-%>

<nav>
    <div class="row my-4">
      <div class="col-lg-3 my-4 mx-3">
        <h2 class="multicolortext">DoubtAway..</h2>
      </div>
      <div class="col-lg-6 my-4 mx-4 community" style="width: 35%;">
        <span><a href="/problem">Community</a></span>
        <span><a href="/problem/<%=prblm._id%>/answer">Problem</a></span>
        <span><a href="/problem/<%=prblm._id%>/discuss">Discussion</a></span>
      </div>
      <div class="col-lg-2 my-4 login" style="margin-left: 150px;">
        <%if(!currentUser){%>
          <span><a href="/login">Login</a></span>
       <%}else{%>
        <span><a href="/logout">Logout</a></span>
       <%}%>
      </div>
    </div>
  </nav>

<section>
    <div>
        Discuss Section
        <div class="container-fluid">
            <%for(let dis of prblm.discuss){%>
            <div class="discuss-head">
                <div>
                    <p><a style="text-decoration: none; color: black;" href="/problem/discuss/<%=dis._id%>">
                        <h3><%=dis.description%></h3>
                        </a>
                    </p>
                </div>
                    <div>
                    <%if(dis.createdAt){%>
                        <p><%=dis.createdAt.toDateString()%></p>
                    <%}%>
                </div>
            </div>
            <%}%>
        </div>
    </div>
</section>