<%layout('layouts/boilerplate')-%>

<div class="row">
    <div>
        <div class="shownav" style="border-right: 2px solid gray;">
            <p><a style="text-decoration: none; color: black;" href="/problem/<%=prblm._id%>/answer">Problem</a></p>
        </div>
        <div class="shownav">
            <p><a style="text-decoration: none; color: black;" href="/problem/<%=prblm._id%>/discuss">Discuss</a></p>
        </div>
    </div>
    <hr>

</div>

<section>
    <div>
        Discuss Section
        <div class="container-fluid">
            <%for(let dis of prblm.discuss){%>
            <div class="discuss-head">
                <div>
                    <p><a style="text-decoration: none; color: black;" href="/problem/discuss/<%=dis._id%>">
                        <h3><%=dis.description%></h3>
                        </a>
                    </p>
                </div>
                    <div>
                    <%if(dis.createdAt){%>
                        <p><%=dis.createdAt.toDateString()%></p>
                    <%}%>
                </div>
            </div>
            <%}%>
        </div>
    </div>
</section>