<%layout('layouts/boilerplate')-%>

<nav>
  <div class="row my-4">
    <div class="col-lg-3 my-4 mx-3">
      <h2 class="multicolortext">DoubtAway..</h2>
    </div>
    <div class="col-lg-4 my-4 community">
      <span><a href="/problem">Problems</a></span>
      <span><a href="/problem/<%=prblm._id%>/answer">Description</a></span>
      <span><a href="/problem/<%=prblm._id%>/discuss">Discussion</a></span>
    </div>
    <div class="col-lg-4 my-4 login">

      <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle" style="background-color: transparent; border: 1px solid white;" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="true">
              <span><i class="fas fa-user icon"></i></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-transparent" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item" href="/profile">Profile</a></li>
            <%if(!currentUser){%>
              <li><a class="dropdown-item" href="/">Login</a></li>
            <%}else{%>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            <%}%>
          </ul>
        </div>
    </div>
  </div>
</nav>

<section>
    <div>
        <div class="container-fluid">
            <%for(let dis of prblm.discuss){%>
            <div class="discuss-head">
                <div>
                  <div class="card mb-3">
                    <div style="padding: 8px; text-transform: capitalize; background-color: rgb(223, 232, 240);">
                      <p><a style="text-decoration: none; font-size: 1.4rem; color: rgb(32, 30, 30);" href="/problem/<%=prblm._id%>/discuss/<%=dis._id%>"><h5><%=dis.description%></h5></a></p>
                      <p class="card-text"><small class="text-muted">
                        <%if(dis.createdAt){%>
                        <p style="color: rgb(99, 86, 86);"><%=dis.userName%> on <%=dis.createdAt.toDateString()%></p>
                    <%}%></small></p>
                    </div>
                  </div>
                  
                </div>
                   
            </div>
            <%}%>
        </div>
    </div>
</section>