<%layout('layouts/boilerplate')-%>
<div class="row">
    <div class="col-lg-2 m-4 topic">
        <h2>Topic</h2>
        <hr>
        <ul style="list-style: none;" class="topicname">
            <li><a href="/problem/array">Array</a></li>
            <li><a href="/problem/strings">Strings</a></li>
            <li><a href="/problem/recursion">Recursion</a></li>
            <li><a href="/problem/hashing">Hashing</a></li>
            <li><a href="/problem/stacks">Stacks</a></li>
            <li><a href="/problem/queue">Queue</a></li>
            <li><a href="/problem/trees">Trees</a></li>
            <li><a href="/problem/graphs">Graphs</a></li>
            
        </ul>
    </div>
        

   <div class="col-lg-8 m-2">
       <div class="container ask">
           <div style="display: inline-block; margin: 20px;">
            <h1 class="heading" style="font-size: 75px; margin: 20px;">Let your Doubts</h1>
            <h2 class="heading" style="font-size: 60px; margin: 20px;">Fly Away...</h2>
           </div>
           <div style="display: inline-block; margin-left: 70px; position: relative; bottom: 5vmax; box-shadow: 5px 5px 5px rgb(201, 196, 196); padding: 10px;">
            <img style="border-radius: 10px;" src="https://pmtgurumantra.files.wordpress.com/2011/06/ask-your-doubt.jpg?w=600" alt="">
           </div>
               <button class="">Ask Your question</button>
            
       </div>
            <%for(let p of prblm){%>
                <ul class="container ques">
                    <div>
                        <div class="mb-3">
                            <div class="head" style="border-right: 1px solid gray;"><%=p.topic%></div>
                            <div class="head"  style="border-right: 1px solid gray;"><%=p.lang%></div>
                            <div class="head"><%=p.level%></div>
                            <hr>    
                        </div>
                        
                         
                        <div class="pro">
                            <p><%=p.statement.substring(0,200)%>...</p>
                        </div>
                    </div>
                    <div>
                        <button style="margin-left: 90%;"><a href="/problem/<%=p._id%>/answer">Answer</a></button>
                    </div>
                </ul>
            <%}%>

    </div>

</div>
