<%layout('layouts/boilerplate')-%>
<div class="row">
    <div class="col-lg-2 m-4 topic">
        <h2>Topic</h2>
        <hr>
        <ul style="list-style: none;" class="topicname">
            <li><a href="/problem/array">Array</a></li>
            <li><a href="/problem/strings">Strings</a></li>
            <li><a href="/problem/recursion">Recursion</a></li>
            <li><a href="/problem/hashing">Hashing</a></li>
            <li><a href="/problem/stacks">Stacks</a></li>
            <li><a href="/problem/queue">Queue</a></li>
            <li><a href="/problem/trees">Trees</a></li>
            <li><a href="/problem/graphs">Graphs</a></li>
            
        </ul>
    </div>
        

   <div class="col-lg-8 m-2">
        <%-include('../partials/flash')%>
        <div class="row m-4">
            <div class="col-lg-6">
                <h1 class="heading">Let your Doubts</h1>
                <h2 class="heading">Fly Away...</h2>
                <button style="color: #66F6F1; font-size: 30px; border-radius: 30px;" type="button" class="btn btn-dark"><a style="text-decoration: none; color: white;" href="/newproblem">Ask your Question</a></button>
            </div>
            <div class="col-lg-6 my-4">
                <img height="200px" src="https://www.linkpicture.com/q/pic_22.jpg"
                alt="">
            </div>

        </div>

            <%for(let p of prblm){%>
                <ul class="container ques">
                    <div>
                        <div class="row mb-3">
                            <div class="col-lg-4 head" style="border-right: 1px solid gray;">
                                Topic: <%=p.topic%>
                            </div>
                            <div class="col-lg-4 head" style="border-right: 1px solid gray;">
                                Language: <%=p.lang%>
                            </div>
                            <div class="col-lg-4 head">
                                Level: <%=p.level%>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-lg-12 md-12 pro" style="font-weight: bolder;">
                                <p><%=p.statement.substring(0,200)%>...</p>
                            </div>

                        </div>
                        
                         
                    </div>
                    <div class="row">
                        <div class="col-lg-10">

                        </div>
                        <div class="col-lg-2">
                            <button style=" font-size: 1.1rem; font-family: cursive; font-weight: bold; box-shadow: 1px 1px 1px #6f797c;"" type="button" class="btn btn-dark"><a style="text-decoration: none; color: white;" href="/problem/<%=p._id%>/answer">Answer</a></button>
                        </div>
                    </div>
                </ul>
            <%}%>

    </div>

</div>
