<%layout('layouts/boilerplate')-%>
<div class="row">
    <div class="col-lg-2 m-4 topic">
        <h2>Topic</h2>
        <hr>
        <ul style="list-style: none;" class="topicname">
            <li><a href="/problem/array">Array</a></li>
            <li><a href="">Array</a></li>
            <li><a href="">Array</a></li>
            <li><a href="">Array</a></li>
            <li><a href="">Array</a></li>
            <li><a href="">Array</a></li>
            
        </ul>
    </div>
        

   <div class="col-lg-8 m-2">
        <div>
            <%for(let p of prblm){%>
                <ul class="container ques">
                    <div>
                        <div class="mb-3">
                            <div class="head" style="border-right: 1px solid gray;"><%=p.topic%></div>
                            <div class="head"  style="border-right: 1px solid gray;"><%=p.lang%></div>
                            <div class="head"><%=p.level%></div>
                            <hr>    
                        </div>
                        
                         
                        <div class="pro">
                            <p><%=p.statement%></p>
                            <!-- <%if(p.createdAt){%>
                                <p><%=p.createdAt.toDateString()%></p> 
                                <%}%> -->
                        </div>
                    </div>
                    <div>
                        <button style="margin-left: 90%;"><a href="/problem/<%=p._id%>/answer">Answer</a></button>
                    </div>
                </ul>
            <%}%>
        </section>

    </div>

</div>
