<%layout('layouts/boilerplate')-%>
<nav>
  <div class="row my-4">
    <div class="col-lg-3 my-4 mx-3">
      <h2 class="multicolortext">DoubtAway..</h2>
    </div>
    <div class="col-lg-4 my-4 community">
      <span><a href="/problem">Problems</a></span>
      <span><a href="/problem/<%=prblm._id%>/answer">Description</a></span>
      <span><a href="/problem/<%=prblm._id%>/discuss">Discussion</a></span>
    </div>
    <div class="col-lg-4 my-4 login">

      <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle" style="background-color: transparent; border: 1px solid white;" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="true">
              <span><i class="fas fa-user icon"></i></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-transparent" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item" href="/profile">Profile</a></li>
            <%if(!currentUser){%>
              <li><a class="dropdown-item" href="/">Login</a></li>
            <%}else{%>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            <%}%>
          </ul>
        </div>
    </div>
  </div>
</nav>
<div class="row container-fluid">
    
    <div>
        
        <ul style="list-style: none;">
            <div style="display: inline-block; font-size: 25px;">
                <span>
                    <h5 style="display:inline-block; font-size: 25px;">Topic:</h5>
                    <%=prblm.topic%>
                </span>
                <span style="margin: 100px;">
                    <h5 style="display:inline-block; font-size: 25px;">Level:</h5>
                    <%=prblm.level%>
                </span>
            </div>
            <li style="font-size: 1.3rem;">
              Statement:  <%= prblm.statement%>
          
            </li>
            <li>
                <!-- <h5 style="display: inline-block;">Custom Input:</h5> -->

                <h4><pre><%= prblm.example%></pre></h4>
            
                
            </li>
        </ul>
    </div>

</div>
<div class="row container-fluid my-4 mb-4">
    <h2>Add your Answer</h2>
        
    <form action="/problem/<%=prblm._id%>/discuss" method="post" class="validated-form" novalidate>
         <textarea style="text-transform: capitalize;" class="form-control mb-4 fs-5" name="description" id="" cols="8" rows="3" placeholder="Description" required></textarea>
         <textarea class="form-control mb-4 fs-5" name="exp" id="" cols="8" rows="10" placeholder="Write your code here...." required></textarea>
         <button type="submit" style="background-color: rgb(40, 17, 41);" class="btn btn-dark">Add your Answer</button>
    </form>
    
</div>


