<%layout('layouts/boilerplate')-%>

<div class="row">
    <div>
        <div class="shownav" style="border-right: 2px solid gray;">
            <p><a style="text-decoration: none; color: black;" href="/problem/<%=prblm._id%>/answer">Problem</a></p>
        </div>
        <div class="shownav">
            <p><a style="text-decoration: none; color: black;" href="/problem/<%=prblm._id%>/discuss">Discuss</a></p>
        </div>
    </div>
    <hr>

</div>
<div class="row container-fluid">
    
    <div>
        
        <ul style="list-style: none;">
            <div style="display: inline-block;">
                <span>
                    <h5 style="display:inline-block;">Topic:</h5>
                    <%=prblm.topic%>
                </span>
                <span style="margin: 50px;">
                    <h5 style="display:inline-block">Level:</h5>
                    <%=prblm.level%>
                </span>
            </div>
            <li style="font-size: 1.2rem;">
                <%=prblm.statement%>
            </li>
            <li>
                <h5 style="display: inline-block;">Custom Input:</h5>
                <pre><%=prblm.example%></pre>
                
            </li>
        </ul>
    </div>

</div>
<div class="row container-fluid my-4 mb-4">
    <h2>Add your Answer</h2>
        
    <form action="/problem/<%=prblm._id%>/discuss" method="post" class="validated-form" novalidate>
         <textarea class="form-control mb-4 fs-5" name="description" id="" cols="8" rows="3" placeholder="Description" required></textarea>
         <textarea class="form-control mb-4 fs-5" name="exp" id="" cols="8" rows="10" placeholder="Write your code here...." required></textarea>
         <button type="submit" class="btn btn-primary">Add</button>
    </form>
    
</div>
