<%layout('layouts/boilerplate')-%>

<div class="row">
    <div>
        <div class="shownav">
            <p><a style="text-decoration: none; color: black;" href="/problem/<%=prblm._id%>/answer">Problem</a></p>
        </div>
        <div class="shownav">
            <p><a style="text-decoration: none; color: black;" href="/problem/<%=prblm._id%>/discuss">Discuss</a></p>
        </div>
    </div>

</div>
<div class="row ">
    
    <div class="col-lg-4">
        
        <ul style="list-style: none;">
            <li>
                <%=prblm.topic%>
            </li>
            <li>
                <%=prblm.level%>
            </li>
            <li>
                <%=prblm.statement%>
            </li>
            <li>
                <pre><%=prblm.example%></pre>
                
            </li>
        </ul>
    </div>

    <div class="col-lg-6">
        
        <form action="">
             <textarea class="form-control" name="Answer" id="" cols="10" rows="5" placeholder="Description"></textarea>
             <textarea class="form-control" name="Answer" id="" cols="10" rows="15" placeholder="Explanation"></textarea>
            </form>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>

</div>
