<%layout('layouts/boilerplate')-%>

<div class="mb-3"><strong>Ques asked</strong>:<strong><%=user.ques.length%></strong></div>
<div class="mb-3"><strong>Ques solved</strong>:<strong><%=user.ans.length%></strong></div>
<h3>Question Asked</h3>
<div class="mb-3">
    <%for(let q of user.ques){%>
        <p><a href="/problem/<%=q._id%>/answer"><%=q.statement%></a> </p>
    <%}%>
</div>
<h3>Question Solved</h3>
<div class="mb-3">
    <%for(let a of user.ans){%>
        <p><a href="/problem/<%=a.problemid%>/discuss"><%=a.description%></a> </p>
    <%}%>
</div>
